
# LuCI Themes
CONFIG_PACKAGE_luci-theme-argon=n
CONFIG_PACKAGE_luci-theme-argon-18.06=n
CONFIG_PACKAGE_luci-app-argon-config=n
CONFIG_PACKAGE_luci-theme-material=n
CONFIG_PACKAGE_luci-theme-netgear=n
CONFIG_PACKAGE_luci-theme-darkmatter=n
CONFIG_PACKAGE_luci-theme-atmaterial_new=n
CONFIG_PACKAGE_luci-theme-edge=n
CONFIG_PACKAGE_luci-theme-ifit=n
CONFIG_PACKAGE_luci-theme-tomato=n
CONFIG_PACKAGE_luci-theme-mcat=n
CONFIG_PACKAGE_luci-theme-tano=n
CONFIG_PACKAGE_luci-theme-neobird=n
CONFIG_PACKAGE_luci-theme-rosy=n

# LuCI Languages
CONFIG_LUCI_LANG_en=n
CONFIG_PACKAGE_luci-i18n-base-en=n

#OpenClash Packages
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-xray=y

#Clash Packages
CONFIG_PACKAGE_luci-app-clash=n

#HelmiWrt Packages
CONFIG_PACKAGE_mactoiface=n
CONFIG_PACKAGE_luci-app-libernet=n
CONFIG_PACKAGE_luci-app-libernet-bin=n
CONFIG_PACKAGE_luci-app-libernet-plus=n
CONFIG_PACKAGE_luci-app-mikhmon=n
CONFIG_PACKAGE_luci-app-mikhmon4=n
CONFIG_PACKAGE_luci-app-myxllite=n
CONFIG_PACKAGE_luci-app-mulimiter=n
CONFIG_PACKAGE_luci-app-netmon=n
CONFIG_PACKAGE_luci-app-openspeedtest=n
CONFIG_PACKAGE_luci-app-shutdown=n
CONFIG_PACKAGE_luci-app-tinyfm=y
CONFIG_PACKAGE_luci-app-v2raya=n
CONFIG_PACKAGE_luci-app-xderm=n
CONFIG_PACKAGE_luci-app-xderm-bin=n
CONFIG_PACKAGE_luci-app-xderm-limit=n
CONFIG_PACKAGE_luci-app-freevpnsite=n
CONFIG_PACKAGE_luci-app-wegare=n

# Luci App unused
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-adguardhome=n
CONFIG_PACKAGE_luci-app-adguardhome_INCLUDE_binary=n
CONFIG_PACKAGE_luci-app-aria2=n
CONFIG_PACKAGE_luci-app-commands=n
CONFIG_PACKAGE_luci-app-dockerman=n
CONFIG_PACKAGE_luci-app-fileassistant=n
CONFIG_PACKAGE_luci-app-filebrowser=n
CONFIG_PACKAGE_luci-app-filetransfer=n
CONFIG_PACKAGE_luci-app-hd-idle=n
CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-nft-qos=n
CONFIG_PACKAGE_luci-app-nlbwmon=n
CONFIG_PACKAGE_luci-app-unblockmusic=n
CONFIG_PACKAGE_luci-app-openvpn=n
CONFIG_PACKAGE_luci-app-ramfree=n
CONFIG_PACKAGE_luci-app-pptp-server=n
CONFIG_PACKAGE_luci-app-samba=n
CONFIG_PACKAGE_luci-app-softethervpn=n
CONFIG_PACKAGE_luci-app-arpbind=n
CONFIG_PACKAGE_luci-app-turboacc=n
CONFIG_PACKAGE_luci-app-vlmcsd=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-autoreboot=n
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-firewall=n
CONFIG_PACKAGE_luci-app-upnp=n
CONFIG_PACKAGE_luci-app-ddns=n
